*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.main{
    border: 3px solid #030721;
}
h1{
    color:red;
    text-align: center;
}
img{
    padding-top: 10px;
    height: 300px;
    width: 200px;
}
button {
	border-radius: 15px;
	border: 1px solid #030721;
	display: inline-block;
	cursor: pointer;
	background: green;
	color: #ffffff;
	font-family: Georgia;
	font-size: 20px;
	font-weight: bold;
	padding: 10px ;
	text-decoration: none;
	margin-left: 30px;
	margin-right: 30px;
}
button:hover{
    color: red;
}